###### **Minha Trilha de Aprendizado**
###### *by Anderson Felipe [linkedin](www.linkedin.com/in/andersonftdj)/[GitHub](https://github.com/andersonftdj)*
---

# Python

Uma das habilidades fundamentais para o profissional de Data Science é o domínio em **Python**.

Python é umas das linguagens de programação mais práticas, amadas e empregáveis hoje em dia para a área de data science.


<center> <img width="20%" src = "https://vignette.wikia.nocookie.net/lpunb/images/b/b1/Logo_Python.png/revision/latest?cb=20130301171443" ></center>




A comunidade altamenta ativa, o vasto número de bibliotecas, a praticidade para trabalhar com estatística, machine learning e inteligência artifical são alguns dos atrativos da linguagem.

A curva de aprendizado é uma das melhores! Não precisar declarar varáveis, não precisar dos "`;`" que tanto dão dor de cabeça em outras linguagens são apenas um dos motivos que faz o python ser uma das melhores linguagens de programação para data science existente.


---

## Operações
Para realizarmos cálculos em Python, temos os seguintes operadores disponíveis:

*   `+`  Adição
*   `-`  Subtração 
*   `*`  Multiplicação
*   `/`  Divisão
*   `**` Exponenciação
*   `//` Divisão com resultado inteiro

Veja a simplicidade de usar cada um deles:

In [17]:
# Adição
1+1

2

In [18]:
# Subtração
3 - 1

2

In [19]:
# Multiplicação
2 * 3

6

In [20]:
# Exponenciação
2 ** 3

8

In [21]:
# Divisão: Uma divisão sempre retornará um float
5 / 2

2.5

In [22]:
# Divisão pegando apenas a parte inteira
5 // 2

2

## Atribuição
Para atribuirmos um valor para uma variável basta apenas definir um nome para a variável, no nosso caso `a`, usarmos o operador de atribuição `=` e indicar o valor a ser atribuido, usando o seguinte formato:

    <Variável> = <Valor>
         a     =   10


  *Usamos a função `print()` para imprimirmos na tela.*

In [23]:
# Atribuição e impressão do valor.
a = 10
print(a)

10

Podemos aprimorar um pouco mais, ao invés de atribuir valores diretos podemos atribuir operações para variáveis.

In [24]:
# Atribuição de opração à variável e impressão do valor
a = 5 + 5
print(a)

10

## Tipo de variável
 **Em Python o tipo de dado é criado de acordo com a necessidade**. No caso de uma soma simples, teremos um tipo `int`, no caso de uma divisão, teremos um tipo `float`.

Para conferir o tipo de variável usamos a função `type()`.

### Float
O tipo float normalmente é usado para oprações de divisões ou qualquer outra situação que envolvam casas decimais, como em operações com dinheiro por exemplo.

In [25]:
# Tipo da variável: Float
preco = 56.3 / 2

print('O preço do arroz está R$', preco)
type(preco)

O preço do arroz está R$ 28.15

float

### Inteiro

In [26]:
# Tipo da variável: Inteiro
vagas = 15 + 3
print('Quantidade de vagas disponíveis: ', vagas)
type(vagas)

Quantidade de vagas disponíveis:  18

int

In [27]:
# Testando o tipo de variável usando o operador //
b = 6 // 2
print(b)
type(b)

3

int

### Strings
É possível fazer uma atribuição de uma palavra para uma variável, aumentando ainda mais o leque do possibilidades!

In [28]:
word =  'Python'
print('Melhor linguagem de programação: ', word)
type(word)

Melhor linguagem de programação:  Python

str

Podemos fazer algumas manipulações que podem ser úteis em alguns casos.

Há 4 manipulações diretas que podem ser interessantes ao analisar datasets para padronizar:

*   `upper()` Todos os caracters em maiúsculo.
*   `lower()` Todos os caracters em minúsculo.
*   `title()` Toda primeira letra em maiúsculo.
*   `capitalize()` Apenas o primeiro caracter em maiúsculo.

In [29]:
word = 'profissão: Data Science'
print(word              + "\t\t\tOriginal")
print(word.upper()      + "\t\t\tTudo maiúsculo")
print(word.lower()      + "\t\t\tTudo minúsculo")
print(word.title()      + "\t\t\tToda primeira maiúscula")
print(word.capitalize() + "\t\t\tSomente a primeira maiúsucula")

profissão: Data Science			Original
PROFISSÃO: DATA SCIENCE			Tudo maiúsculo
profissão: data science			Tudo minúsculo
Profissão: Data Science			Toda primeira maiúscula
Profissão: data science			Somente a primeira maiúsucula

####Podemos concatenar strings

In [30]:
word1 = 'Data'
word2 = 'Science'
new_word  = word1 + word2
print(new_word)

#para a concatenação, uma vez que quiséssemos deixar a string como duas palavras
# poderíamos concatenar também um espaço entre elas
#new_word  = word1 + " " + word2

DataScience

conseguimos também contar o tamanho de uma string

In [31]:
DNA = 'TCGATCGATCGATCGA'
len(DNA)

16

---
---
#**Aplicabilidade**

Todas as funções vistas aqui tem uma aplicação prática e contribui para o desenvolvimento das habilidades necessárias para um data scientist.

Podemos somar a quantidade de vendas de 'geladeiras' com a quantidade de fogões' para sabermos a quantidade de eletrodomésticos para cozinha que foram vendidos;

Subtrair o 'preço de venda' do 'preço de custo' para obtermos o lucro por item vendido;

Dividir a 'quantidade de Km percorridos' pela 'quantidade de litros consumidos' para obter o consumo médio do carro;

Juntar nome e sobrenome em uma tabela, e padronizar toda primeira letra do nome como maiúscula para poder apresentar relatórios com uma estética mais agradável para o leitor. 

E até contar o tamanho da seqência de um DNA.

Seja qual for, todas essas formam a base para a trilha de aprendizado em de data science.